@font-face {
  font-family: 'Univers LT Std';
  src: url('./assets/fonts/UniversLTStd.otf');
  font-weigth: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers LT Std 59';
  src: url('./assets/fonts/UniversLTStd-UltraCn.otf');
  font-weigth: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers LT Std 65 Bold';
  src: url('./assets/fonts/UniversLTStd-Bold.otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers LT Std 67';
  src: url('./assets/fonts/UniversLTStd-BoldCn.otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers LT Std 75 Black';
  src: url('./assets/fonts/UniversLTStd-Black.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --black-500: rgba(47, 47, 37, 1);
  --black-700: rgba(29, 22, 22, 1);
  --gray-100: rgba(236, 236, 233, 1);

  --salmon: rgba(210, 198, 195, 1);
  --green-500: rgba(188, 198, 188, 1);
  --red-300: rgba(221, 88, 87, 1);

  --bg-default: rgba(242, 241, 241, 1);
  --bg-black: var(--black-700);
  --bg-light-yellow: rgba(236, 236, 233, 1);

  --text-color-black: var(--black-500);
  --text-color-light: var(--gray-100);

  --max-width: 1500px;

  --spacing-unit: 0.5rem;
  --spacing-xs: var(--spacing-unit);
  --spacing-sm: calc(var(--spacing-unit) * 2);
  --spacing-md: calc(var(--spacing-unit) * 3);
  --spacing-lg: calc(var(--spacing-unit) * 4);
  --spacing-xl: calc(var(--spacing-unit) * 5);

  --caption: 15px;
  --letter-spacing-none: 0;
  --letter-spacing-normal: 2px;
  --letter-spacing-extended: 2.65px;
  --letter-spacing-heading: 0.4rem;
}

body {
  background: var(--bg-default);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--text-color-black);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Univers LT Std 59';
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-heading);
  font-weight: normal;
  line-height: 110%;
}

h1 {
  font-size: 3.5rem;

  @media only screen and (min-width: 48em) {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 2.5rem;

  @media only screen and (min-width: 48em) {
    font-size: 3.25rem;
  }
}

h3 {
  font-size: 2rem;

  @media only screen and (min-width: 48em) {
    font-size: 2.5rem;
  }
}

p,
a {
  text-transform: uppercase;
  font-family: 'Univers LT Std';
  font-size: 0.85rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

p {
  letter-spacing: var(--letter-spacing-extended);
}

.caption {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}

/* utils */

.container-min-paddings {
  padding: var(--spacing-xl) var(--spacing-md);

  @media only screen and (min-width: 48em) {
    padding: var(--spacing-xl) var(--spacing-lg);
  }
}

.bold-text {
  font-family: 'Univers LT Std 67';
  font-weight: 500;
}

.accent-text {
  color: var(--green-500);
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate {
  opacity: 0; /* Start with invisible */
  animation: fadeIn 0.8s forwards; /* 1s duration, forwards to retain final state */
}
