@font-face {
  font-family: 'Univers LT Std';
  src: url('./assets/fonts/UniversLTStd.otf');
  font-weigth: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Univers LT Std 59';
  src: url('./assets/fonts/UniversLTStd-UltraCn.otf');
  font-weigth: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --black-500: rgba(47, 47, 37, 1);
  --black-700: rgba(29, 22, 22, 1);
  --gray-100: rgba(236, 236, 233, 1);

  --salmon: rgba(210, 198, 195, 1);
  --green-500: rgba(188, 198, 188, 1);
  --red-300: rgba(221, 88, 87, 1);

  --bg-black: var(--black-700);
  --bg-light: rgba(242, 241, 241, 1);

  --text-color-black: var(--black-500);
  --text-color-light: var(--gray-100);

  --max-width: 1500px;

  --spacing-unit: 0.5rem;
  --spacing-xs: var(--spacing-unit);
  --spacing-sm: calc(var(--spacing-unit) * 2);
  --spacing-md: calc(var(--spacing-unit) * 3);
  --spacing-lg: calc(var(--spacing-unit) * 4);
  --spacing-xl: calc(var(--spacing-unit) * 5);

  --caption: 15px;
}

body {
  background: var(--bg-light);
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--text-color-black);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Univers LT Std 59';
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: ;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
  line-height: 110%;
}

p,
a {
  text-transform: uppercase;
  font-family: 'Univers LT Std';
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

p {
  letter-spacing: 2.25px;
}

ul {
  list-style: none;
}
